<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.1.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
						http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util-4.1.xsd
						http://code.alibabatech.com/schema/dubbo 
						http://code.alibabatech.com/schema/dubbo/dubbo.xsd">	
	
	<context:component-scan base-package="hessian.project.service"/>

	<!-- 创建管理事务对象：DataSourceTransactionManager -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 传播行为 -->
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="select*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />		
		</tx:attributes>
	</tx:advice>
	<!-- 切面 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* hessian.project.service.*.*(..))"/>
	</aop:config>

	<!-- 发布服务：把接口service发布Zookeeper注册中心 -->
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="canglang-hessian-service"/>

	<!-- 使用dubbo通过Zookeeper协议注册服务 -->
	<dubbo:registry protocol="zookeeper" address="192.168.145.129:2181"/>

	<!-- 用dubbo协议在20880端口暴露服务 ：此端口是提供给消费者的，消费者通过dubbo协议调用zk服务 -->
	<dubbo:protocol name="dubbo" port="20880" />
	<!--<dubbo:protocol name="hessian" port="20881" />-->

    <!-- 声明需要暴露的服务接口 -->
    <!-- 创建需要发布对象(包含根据id查询商品信息、分页查询商品列表)-->
    <bean id="userServiceImpl" class="hessian.project.service.impl.UserServiceImpl"/>
   	<!-- 发布服务 -->
    <dubbo:service ref="userServiceImpl" interface="hessian.project.service.IUserService" version="1.0.0" retries="0" timeout="100000"/>

</beans>
